body {
    background-color: #15151E;
    background-size: auto;
    table-layout: fixed;
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
}


.site-header .navbar-nav .nav-link {
    color: #cbd5db;
}

.navbar-brand {
    color: #42A5F5;
}

.navbar-brand:hover {
    color: #42A5F5;
}

.site-header .navbar-nav .nav-link:hover {
    color: #42A5F5;
}

.dropdown-item:focus {
    color: #42A5F5;
}

.col-lg-10 {
    padding-top: 6rem
}

.search-bar {
    padding-top: 4rem;
}

#search-bar-search-button {
    color: whitesmoke;
    padding: 10px 10%;
    border: 1px solid grey;
}

.form-control {
    color: whitesmoke;
    background-color: #15151E;
    border: 1px solid grey;
}

.form-control:focus {
    color: whitesmoke;
    background-color: #15151E;
}

#kanji-character {
    font-size: 120px;
    color: whitesmoke;
    padding-bottom: 2rem;
}

p {
    font-size: 20px;
    color: whitesmoke;
}

ruby {
    color: #42A5F5;
}

#kanji-list-anchor {
    font-size: 30px;
    text-decoration:none;
    color: #42A5F5;
}




