body {
    background-color: #15151E;
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
}


.site-header .navbar-nav .nav-link {
    color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
    color: whitesmoke;
}

.col-lg-10 {
    padding-top: 6rem
}

.search-bar {
    padding-top: 4rem;
}

#search-bar-search-button {
    color: whitesmoke;
    padding: 10px 10%;
    border: 1px solid grey;
}

.form-control {
    color: whitesmoke;
    background-color: #15151E;
    border: 1px solid grey;
}

.form-control:focus {
    color: whitesmoke;
    background-color: #15151E;
}





