<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}<title>Jouyou Kanji Dictionary</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
<header class="site-header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-static-top">
        <div class="container">
            <a class="navbar-brand" href="{% url 'kanji-dictionary-home' %}">Jouyou Kanji Dictionary</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'kanji-dictionary-home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'kanji-dictionary-about' %}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'kanji-dictionary-kanji-list' %}">Kanji List</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Theme
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Dark</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Light</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <!-- Search form -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10">
                <div class="search-bar input-group rounded">
                    <input type="search" class="form-control form-control-md" placeholder="Search"
                           aria-label="Search"
                           aria-describedby="search-addon"/>
                    <button id="search-bar-search-button" type="button" class="btn btn-outline-dark">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</header>
<main role="main" class="container">
    <div class="row justify-content-center">
        <div class="col-lg-10">{% block content %}{% endblock %}
            {% block pagination %}
            {% if is_paginated %}
            <div class="pagination">
                <span class="page-links">
                    {% if page_obj.has_previous %}
                        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
                        <a class="btn btn-outline-info mb-4"
                           href="?page={{ page_obj.previous_page_number }}" aria-label="Previous"><span
                                aria-hidden="true">&laquo;</span>
                        </a>
                    {% endif %}

                    {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                        {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}"
                           aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                    {% endif %}
                </span>
            </div>
            {% endif %}
            <!--            <nav aria-label="...">-->
            <!--                <ul class="pagination">-->
            <!--                    {% if page_obj.has_previous %}-->
            <!--                    <li class="page-item">-->
            <!--                        <a class="page-link" href="?page=1">First</a>-->
            <!--                    </li>-->
            <!--                    <li class="page-item">-->
            <!--                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>-->
            <!--                    </li>-->
            <!--                    {% endif %}-->

            <!--                    {% for num in page_obj.paginator.page_range %}-->
            <!--                    {% if page_obj.number == num %}-->
            <!--                    <li class="page-item active" aria-current="page">-->
            <!--                        <a class="page-link" href="?page={{ num }}">{{ num }}</a>-->
            <!--                    </li>-->
            <!--                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}-->
            <!--                    <li class="page-item">-->
            <!--                        <a class="page-link" href="?page={{ num }}">{{ num }}</a>-->
            <!--                    </li>-->
            <!--                    {% endif %}-->
            <!--                    {% endfor %}-->

            <!--                    {% if page_obj.has_next %}-->
            <!--                    <li class="page-item">-->
            <!--                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>-->
            <!--                    </li>-->
            <!--                    <li class="page-item">-->
            <!--                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a>-->
            <!--                    </li>-->
            <!--                    {% endif %}-->
            <!--                </ul>-->
            <!--            </nav>-->
            {% endblock %}
        </div>
    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>
</html>
